<div class="flex items-center justify-center w-full h-screen bg-fixed bg-center bg-no-repeat bg-cover bg-opacity-40 bg-login">
  <div class="flex flex-col items-center justify-evenly w-4/5 px-2 py-10 bg-white shadow-2xl h-2/3 rounded-xl shadow-slate-500 xl:w-1/3 xl:h-[85%]">
    <img src="/img/logo.svg" class="w-1/2 h-auto pb-8 xl:pb-3 xl:w-[43%] alt="logo" />
    <form action="" method="post" class="w-4/5">
      <div class="flex flex-col justify-between gap-4">
        <input
          type="text"
          placeholder="Masukkan Username"
          name="username"
          class="w-full px-3 py-2 text-sm transition-all ease-in border outline-none border-grey text-slate-800 rounded-xl focus:outline-primary focus:border-primary"
        />
        <input
          type="password"
          placeholder="Masukkan password"
          name="password"
          class="w-full px-3 py-2 text-sm transition-all ease-in border outline-none border-grey text-slate-800 rounded-xl focus:outline-primary focus:border-primary"
        />
        <button class="w-2/5 px-3 py-1 text-white transition-all ease-in-out rounded-lg shadow-md font-poppins bg-primary hover:bg-secondary hover:scale-90">Masuk</button>
      </div>
    </form>
    <div class="w-4/5 pt-5">
      <a href="" class="text-sm text-blue-500">Lupa Kata Sandi ?</a>
    </div>
  </div>
</div>
