@tailwind base;
@tailwind components;
@tailwind utilities;

.-translate-x-full {
  transform: translateX(-100%);
}

.main.active {
  @apply md:w-full md:ml-0;
  padding: 2rem 2.8rem;
  transition-duration: 500ms;
}

.main {
  transition-duration: 500ms;
}

.dt-input {
  border-radius: 5px;
  margin: 0 10px 10px 10px;
  padding: 3px 10px;
  background-color: #4a70a5;
  color: white;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-secondary;
}

.swiper-scrollbar .swiper-scrollbar-drag {
  @apply bg-primary;
}

.modal[open] {
  background-color: rgba(0, 0, 0, 0.5);
}
