<div id="loading" class="absolute top-0 left-0 right-0 z-[100] flex items-center justify-center w-full h-screen bg-white">
  <div class="flex flex-col items-center justify-center gap-4 animate-pulse">
    <img src="/img/logo.svg" alt="" class="w-[35%]" />
    <h1>loading...</h1>
  </div>
</div>
