<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  </head>
  <body class="overflow-x-hidden font-poppins">
    <!-- sidebar -->
    <div class="fixed top-0 left-0 z-40 h-full p-4 transition-transform duration-500 border-r-2 w-60 bg-secondary sidebar-menu">
      <a href="#" class="flex items-center pb-2 border-b-2 border-white pt-14 xl:mt-6">
        <span class="text-lg font-semibold leading-6 text-center text-white">SISTEM INFORMASI SISWA SKENSA</span>
      </a>
      <ul class="px-3 mt-8">
        <li>
          <div class="flex items-center w-full gap-2 text-white transition-all duration-300 hover:bg-white hover:text-primary hover:px-3 hover:rounded-lg hover:py-1">
            <i class="text-2xl fa-solid fa-grip-vertical"></i>
            <a href="/dashboard" class="text-sm">Dashboard</a>
          </div>
        </li>
        <li>
          <div class="flex items-center w-full gap-2 mt-6 text-white transition-all duration-300 hover:bg-white hover:text-primary hover:px-3 hover:rounded-lg hover:py-1">
            <i class="text-xl fa-solid fa-user-graduate"></i>

            <a href="/jenispelanggaran" class="text-sm">Jenis Pelanggaran</a>
          </div>
        </li>

        <li>
          <div class="flex items-center w-full gap-2 mt-6 text-white transition-all duration-300 hover:bg-white hover:text-primary hover:px-3 hover:rounded-lg hover:py-1">
            <i class="fa-solid fa-pen"></i>
            <a href="/pelanggaran" class="text-sm">Pelanggaran Siswa</a>
          </div>
        </li>
        <li>
          <div class="flex items-center w-full gap-2 mt-6 text-white transition-all duration-300 hover:bg-white hover:text-primary hover:px-3 hover:rounded-lg hover:py-1">
            <i class="fa-solid fa-trophy"></i>
            <a href="" class="text-sm">Prestasi Siswa</a>
          </div>
        </li>
        <li>
          <div class="flex items-center w-full gap-2 mt-6 text-white transition-all duration-300 hover:bg-white hover:text-primary hover:px-3 hover:rounded-lg hover:py-1">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <a href="" class="text-sm">Riwayat Pelanggaran</a>
          </div>
        </li>
        <li>
          <div class="flex items-center w-full gap-2 mt-6 text-white transition-all duration-300 hover:bg-white hover:text-primary hover:px-3 hover:rounded-lg hover:py-1">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <a href="" class="text-sm">Riwayat Prestasi</a>
          </div>
        </li>
        <li>
          <div class="flex items-center w-full gap-2 mt-6 text-white transition-all duration-300 hover:bg-white hover:text-primary hover:px-3 hover:rounded-lg hover:py-1">
            <i class="fa-solid fa-users"></i>
            <a href="/datasiswa" class="text-sm">Data Siswa</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="fixed top-0 left-0 z-30 w-full h-full border border-black bg-black/50 xl:hidden sidebar-overlay"></div>

    <!-- navbar -->
    <nav class="sticky top-0 left-0 right-0 z-50 flex items-center justify-between w-full px-10 py-3 transition-all bg-body bg-primary shadow-shadowcus">
      <div class="flex items-center gap-5">
        <div class="flex items-center gap-2">
          <img src="/img/logo.svg" alt="" class="w-10 h-auto" />
          <h1 class="hidden text-white md:block md:text-lg">SMK NEGERI 1 DENPASAR</h1>
        </div>
        <button type="button" class="text-lg sidebar-toggle">
          <i class="text-white cursor-pointer fa-solid fa-bars"></i>
        </button>
      </div>
      <div class="flex items-center gap-2 md:gap-7">
        <div class="flex items-center gap-2">
          <img src="/img/profil.svg" alt="" class="w-8 h-auto" />
          <h1 class="hidden text-white md:block md:text-lg">NAMA ADMIN</h1>
        </div>
        <a href="/logout" class="px-5 py-1 text-sm text-white transition-all ease-in-out bg-black border-none rounded-md md:px-7 md:text-md hover:bg-opacity-70 shadow-shadowcus">Logout</a>
      </div>
    </nav>

    <main class="py-8 pr-8 transition-all xl:ml-[17rem] main font-poppins"><%- body %></main>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/676adc8891.js" crossorigin="anonymous"></script>
  </body>
</html>
